<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Production.plist
   MakeSure

   Created by Macbook Pro on 16.12.2023.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>SMS_SERVICE_API_KEY</key>
	<string>KlU96stD5nD66t2eJyxZFmqNw1aJ</string>
	<key>SMS_SERVICE_EMAIL</key>
	<string>technical@makesure.app</string>
	<key>SMS_SERVICE_URL</key>
	<string>https://@gate.smsaero.ru/v2/sms/send</string>
	<key>SERVER_URL</key>
	<string>http://82.146.56.214:3080</string>
	<key>SUPABASE_SERVICE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q</string>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE</string>
	<key>SUPABASE_URL</key>
	<string>http://82.146.56.214:8000</string>
</dict>
</plist>
